#layerControls-container{
  display: flex;
  flex-direction: row-reverse;
}

.layers-tray-button {
  @include hover-glass;
  @include pill-glass;
  @include flex-all-center;
  height: $fixed-height-small;
  margin-right: 1rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.layerToggles-container {
  display: flex;
}

.layerControl-pill-container {
  @include pill-glass;
  @include hover-glass;
  @include flex-all-center;
  height: $fixed-height-small;
  position: relative;
  height: 100%;
  margin-right: 0.5rem;
  user-select: none;
  cursor: pointer;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.toggle-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.layer-indicator {
   content: '';
   display: block;
   margin-right: 0.5rem;
   width: 10px;
   height: 10px;
   @include pill;
   transition: background-color 200ms;
 }

.layer-hasSettings{
  .layer-param-button {
    opacity: 0.7;
    position: relative;
    z-index: 1;
    margin-left: 0.5rem;
    margin-right: -0.25rem;
    @include pill;
    height: 1.5rem;
    width: 1.5rem;
    background-color: transparent;
    background-image: url(/icons/ellipsis.svg);
    background-size: cover;
    background-repeat: no-repeat;
    transition: opacity 250ms;
    &:hover {
      opacity: 1;
    }
  }
}

.layer-noSettings {
  .layer-param-button {
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    visibility: hidden;
    pointer-events: none;
    cursor: pointer;
  }
}

.indicator-on {
  background-color: $pendingBlue;
}

.indicator-hidden {
  background-color: $white;
}

.indicator-off {
  background-color: $mediumGrey;
}

.layerTray-open{
  transform: translateX(0px);
  opacity: 1;
  visibility: visible;
  transition: transform 300ms ease, opacity 300ms ease, visibility 300ms step-start;
}

.layerTray-closed {
  transform: translateX(40px);
  opacity: 0;
  visibility: hidden;
  transition: transform 300ms ease, opacity 300ms ease, visibility 300ms step-end;
}

.layer-popup-closed {
  opacity: 0;
  transform: translate(-50%, 10px) scale(0.95);
  visibility: hidden;
  transition: transform 300ms ease, opacity 300ms ease, visibility 300ms step-end;
}

.layer-popup-open {
  opacity: 1;
  transform: translate(-50%, 0px) scale(1);
  visibility: visible;
  transition: transform 300ms ease, opacity 300ms ease, visibility 300ms step-start;
}

.layer-popup-container {
  position: absolute;
  width: 350px;
  bottom: 3rem;
  left: 50%;
  @include radius-card;
  @include shadow-l;
  will-change: transform, opacity;
  h3 {
    margin-bottom: 0;
    font-size: $t-2;
  }
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 4px;
    background: black;
    outline: none;
    @include pill;
  }
  .slider::-webkit-slider-thumb {
    @include pill;
    @include shadow-l;
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    cursor: pointer;
    transition: 200ms background;
  }

  .slider-on::-webkit-slider-thumb {
    background: $pendingBlue;
  }

  .slider-hidden::-webkit-slider-thumb {
    background: white;
  }
  .slider-off::-webkit-slider-thumb {
    background: $darkGrey;
  }
}

.layer-popup-chevron {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.layer-popup-content {
  overflow-x: hidden;
  width: 100%;
  padding: 1rem 1rem;
  background-color: rgb(28, 28, 28);
  @include radius-card;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  h3 {
    color: grey;
    margin-bottom: 0;
    font-size: $t-1;
  }
  .scale {
    @include flex-between;
    margin-top: 1rem;
    width: 100%;
    position: relative;
  }
  .currentVal {
    width: 200px;
    transform: translateX(calc(-50% + 8px));
    text-align: center;
    position: absolute;
    background: linear-gradient(to left, rgba(28,28,28,0) 0%,rgba(28,28,28,1) 50%, rgba(28,28,28,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  }
}

.layer-popup-header{
  @include radius-card;
  border-top: 1px solid #333;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.5rem 1rem;
  width: 100%;
  background-color: #000;
}
