#mapControlsContainer{
  @include shadow-s;
  @include pill-glass;
  border: 1px solid $mediumGrey;
  position: fixed;
  bottom: $d-2;
  right: $d-1;
  z-index: 800;
  display: flex;
}

#mapControlsContainer button{
  @include flex-all-center;
  font-size: $t-4;
  background-color: transparent;
  height: 2.25rem;
  width: 2.25rem;
}


.button-layers {
  @include pill-l;
  padding-left: $sub-5;
  color: inherit;
}

.button-location {
  width: auto !important;
  font-size: $t-2 !important;
  color: inherit;
}

.button-zoomIn {
  color: inherit;

}

.button-zoomOut {
  color: inherit;
}

.button-zenith {
  @include pill-r;
  color: $pendingBlue;
  padding-right: $sub-5;
}
