#mapControlsContainer{
  @include shadow-s;
  @include pill-glass;
  display: flex;
}

#mapControlsContainer button{
  @include flex-all-center;
  @include hover-glass;
  font-size: $t-4;
  background-color: transparent;
  height: 2.25rem;
  width: 2.25rem;
}

.button-location {
  width: auto !important;
  font-size: $t-2 !important;
  color: inherit;
  padding-left: $sub-5;

}

.button-zoomIn {
  color: inherit;
}

.button-zoomOut {
  color: inherit;
}

.button-zenith {
  @include pill-r;
  padding-right: $sub-5;
}
