#sideBarContainer {
  @include sidebar;
  position: fixed;
  transition: background-color 250ms, transform 300ms ease;
  // &:hover {
  //   background-color: rgba(0,0,0,0.5);
  // }
}

#sideBarContainer.sidebar-closed {
  transform: translateX(calc(#{-$sidebarWidth} + 16px));
}

#sideBarContainer.sidebar-open {
  transform: translateX(0px);
}

#searchWrapper {
  z-index: 99;
  left: $d-1;
  right: $d-1;
}

#searchbar {
  padding-left: 2.5rem; // for magnifying glass
  position: relative;
  z-index: 50;
}

#glass {
  z-index: 51;
  @include flex-all-center;
  height: 36px;
  position: fixed;
  left: 1.75rem;
  top:1rem;
  font-size: $t-3;
}

#button-collapseSidebar{
  position: absolute;
  @include padding-interface;
  @include pill-glass;
  color: white;
  font-size: $t-2;
  margin-top: 1rem;
  padding-left: 50px;
  transition: transform 300ms ease;
  transform: translateX(-40px);
  z-index: 49;
}

#button-collapseSidebar:hover {
  transform: translateX(-30px);
}
