#topBarContainer{
  display: block;
  padding: $d-1;
  position: fixed;
  z-index: 800;
  top:0;
  right:0;
}

// .button-newCSC
//
// Creates button for new CSC
//
// Markup: <button class="button-newCSC">New CSC</button>
//
// Style guide: foam.components.button-newCSC
.button-newCSC{
  @include padding-interface;
  @include pill-glass;
  @include hover-glass;
}

// .button-foam
//
// Creates button for showing FT balance
//
// Markup: <button class="button-foam">5 FT</button>
//
// Style guide: foam.components.button-foam
.button-foam{
  @include padding-interface;
  @include pill-glass;
  @include hover-glass;
  margin-left: 1em;
}
