#topBarContainer{
  display: block;
  padding: $d-1;
  position: fixed;
  z-index: 800;
  top:0;
  right:0;
}

.button-newCSC{
  @include padding-interface;
  @include pill-glass;
  @include hover-glass;
}

.button-foam{
  @include padding-interface;
  @include pill-glass;
  @include hover-glass;
  margin-left: 1em;
}

.img-ft{
  height: $t-1;
  padding-left: $d-1;
}
