@import "../settings";

.Button {
  box-sizing: border-box;
  border-radius: 99rem;
  background-color: color(whitish, $alpha: 0.1);
  border: 1px solid color(whitish, $alpha: 0.1);
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  transition: 0.25s;
}

.Button:focus {
  outline: none;
}

.Button:hover {
  background-color: color(whitish, $alpha: 0.2);
}

.Button:active {
  background-color: color(whitish, $alpha: 0.25);
}


.Button--asBlock {
  width: 100%;
  display: block;
}


.Button--withShadow:hover {
  box-shadow: 0.0rem 0.4rem 2.5rem color(blackish, $alpha: 0.25);
}

.Button--withShadow, .Button--withShadow:active {
  box-shadow: 0.0rem 0.4rem 1.5rem color(blackish, $alpha: 0.25);
}


.Button--withTransform:hover {
  transform: translateY(-0.3rem);
}

.Button--withTransform, .Button--withTransform:active {
  transform: translateY(0rem);
}


// If you hover on button from bottom border it moves up and loses
// hover and then goes down, which is fixed with this trick.
.Button--withTransform:hover:after {
  content: "";
  position: absolute;
  display: block;
  height: 0.5rem;
  top: 100%;
  width: 100%;
}
