@import "../settings";

.Button {
  font-weight: 600;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  // See https://stackoverflow.com/a/20852489/1798418
  transform: translateY(0rem);
}

// The ::before element is styled this way so we can set `background-color` on `Button` and still get it changed
.Button, .Button:before {
  box-sizing: border-box;
  border-radius: 99rem;
  transition: 0.25s;
}

.Button:before {
  position: absolute;
  content: '';
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid color(whitish, $alpha: 0.1);
  background-color: color(whitish, $alpha: 0.1);
  z-index: -1;
}

.Button:focus {
  outline: none;
}

.Button:focus:before {
  border: 1px solid color(whitish, $alpha: 0.3);
}

.Button:hover:before {
  background-color: color(whitish, $alpha: 0.2);
}

.Button:active:before {
  background-color: color(whitish, $alpha: 0.25);
}

.Button--asBlock {
  width: 100%;
  display: block;
}

.Button--withTransform:hover {
  transform: translateY(-0.3rem);
}

.Button--withTransform:active {
  transform: translateY(0rem);
}


// If you hover on button from bottom border it moves up and loses
// hover and then goes down, which is fixed with this trick.
.Button--withTransform:hover:after {
  content: "";
  position: absolute;
  display: block;
  height: 0.5rem;
  top: 100%;
  width: 100%;
}
