.Challenge-Card {
  display: inline-block;
  position: relative;
  color: #fff;
  background-color: #F48068;
  width: 380px;
  box-sizing: border-box;
  border-radius: 10px;
}

.Challenge-Card-header {
  display: block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  color: color(whitish);
  transition: 0.25s;
}

.Challenge-Card-title {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 24px;
  color: color(whitish);
}
Challenge-Card-locationSubTitle {
  display: block;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 12px;
}

.Challenge-Card-cancel {
  display: inline-block;
  position: relative;
  float: right;
  border: none;
  margin-right: 20px;
  font-size: 24px;
  color: #fff;
  background-color: #F48068;
}

.Challenge-Card-cancel:hover {
  border: 0.25px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 999rem;
}

.Challenge-Card-section {
  display: block;
  position: relative;
  padding-bottom: 20px;
}

.Challenge-Card-sectionName {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}

.Challenge-Card-sectionContent {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 16px;
  max-width: 37ch;
  word-break: normal;
}

.Challenge-Card-locationName {
  font-size: 16px;
}