.Icon {
  width: 2em;
  height: 2em;
  display: inline-block;
  text-align: center;
  position: relative;
}

.Icon-s {
  width: .5em;
  height: .5em;
  display: inline-block;
  text-align: center;
  position: relative;
}

.Icon-ss {
  width: .25em;
  height: .25em;
  display: inline-block;
  text-align: center;
  position: relative;
}

.Icon--altBL:after, .Icon--altTC:after {
  position: absolute;
  left: 0; right: 0;
  bottom: 0; top: 0;
  height: 100%;
  width: 100%;
}

.Icon--altBL:after {
  display: table-cell;
  vertical-align: middle;
}

.Icon--altTC:after{
  line-height: 2em;
}

.Icon--plus:after { content: "+"}
.Icon--minus:after { content: "-"}
.Icon--circle:after { content: "⦿"}
.Icon--magnifier:after { content: "🔎"}
.Icon--arrowLeft:after { content: "<"}
