.Map-Control {
  position:relative;
  display: inline-block;
  border-radius: 9999px;
  width:10em;
  height: 8em;
}

.Map-Control-btn {
  position: relative;
  display: inline-block;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1.25rem;
  margin-top: .75rem;
  margin-bottom: .675rem;
}