.map-control {
  position:relative;
  display: inline-block;
  border-radius: 9999px;
  width:200px;
  right: 0px;
  bottom: 0px;
}

.map-cantrol-btn {
  position: relative;
  display: inline-block;
  padding-left: .75rem;
  padding-right: .75rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-left: 1.25rem;
  margin-top: .75rem;
  margin-bottom: .675rem;
}