.Map-Control {
  border-radius: 9999rem;
  width:10em;
  height: 9em;
}

.Map-Control-LatLong {
  vertical-align: top;
  font-size: 2rem;
  line-height: 2.25rem;
  color: white;
  padding-left: 20px;
}
