.Proposal-Card {
  display: inline-block;
  position: relative;
  color: #fff;
  background-color: hsl(214, 84%, 56%);
  width: 380px;
  box-sizing: border-box;
  border-radius: 10px;
}

.Proposal-Card-Header {
  display: block;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
  color: color(whitish);
  transition: 0.25s;
}

.Proposal-Card-Title {
  display: inline-block;
  position: relative;
  padding-left: 20px;
  font-size: 24px;
  color: color(whitish);
}

.Proposal-Card-Cancel {
  display: inline-block;
  position: relative;
  border: none;
  float: right;
  padding-right: 20px;
  font-size: 24px;
  color: #fff;
  background-color: hsl(214, 84%, 56%);
}

.Proposal-Card-Section {
  display: block;
  position: relative;
  padding-bottom: 20px;
}

.Proposal-Card-Section-Name {
  display: block;
  position: relative;
  padding-left: 20px;
  padding-bottom: 10px;
  font-size: 16px;
}

.Proposal-Card-Field {
  display: block;
  position: relative;
  width: 340px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  color: #c4c4c4;
  border: 0.25px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 10px;
}

.--Description {
  word-wrap: break-word;
  word-break: break-all;
  resize: vertical;
}

.Proposal-Card-Tag {
  display: inline-block;
  padding: 10px;
  margin-left: 20px;
  background-color: #c4c4c4;
  border: 0.25px solid rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.09);
  border-radius: 999rem;
}