@import "../settings";
.User-Widget {
  box-sizing: border-box;
  border-radius: 99rem;
  position: relative;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  position: absolute;
  border: 1px solid #4F4F4F;
  box-sizing: border-box;
}

.Icon-Widget {
  width: 40px;
  height: 40px;
  border: 1px solid #4F4F4F;
  box-sizing: border-box;

}
.Balance {
  vertical-align: top;
  position: relative;
  display: inline-block;
  width: 150px;
  height: 50px;
}

.Widget:focus {
  outline: none;
}


.Widget--asBlock {
  width: 100%;
  display: block;
}

.Widget--withShadow:hover {
  box-shadow: 0.0rem 0.4rem 2.5rem color(blackish, $alpha: 0.25);
}

.Widget--withShadow,
.Widget--withShadow:active {
  box-shadow: 0.0rem 0.4rem 1.5rem color(blackish, $alpha: 0.25);
}

.Widget--withTransform:hover {
  transform: translateY(-0.3rem);
}

.Button--withTransform,
.Button--withTransform:active {
  transform: translateY(0rem);
}

// If you hover on button from bottom border it moves up and loses
// hover and then goes down, which is fixed with this trick.
.Button--withTransform:hover:after {
  content: "";
  position: absolute;
  display: block;
  height: 0.5rem;
  top: 100%;
  width: 100%;
}
