@import "../settings";

.u-bg-blackish { background-color: color(blackish); }
.u-bg-pinkish { background-color: color(pinkish); }
.u-bg-blueish { background-color: color(blueish); }
.u-bg-greenish { background-color: color(greenish); }
.u-bg-grayish { background-color: color(grayish); }
.u-bg-whitish { background-color: color(whitish); }

.u-color-blackish { color: color(blackish); }
.u-color-whitish { color: color(whitish); }
.u-color-whitishDim { color: color(whitish, $alpha: 0.6); } 
.u-color-blueish { color: color(blueish); }
.u-color-blackish\:hover:hover { color: color(blackish); }
.u-color-whitish\:hover:hover { color: color(whitish); }
.u-color-whitishDim\:hover:hover { color: color(whitish, $alpha: 0.6); } 
.u-color-blueish\:hover:hover { color: color(blueish); }
