// margin scale
.u-margin-xl { margin: spacing(xl); }
.u-margin-l { margin: spacing(l); }
.u-margin-m { margin: spacing(m); }
.u-margin-s { margin: spacing(s); }
// top margin scale
.u-marginTop-xl { margin-top: spacing(xl); }
.u-marginTop-l { margin-top: spacing(l); }
.u-marginTop-m { margin-top: spacing(m); }
.u-marginTop-s { margin-top: spacing(s); }
// bottom margin scale
.u-marginBottom-xl { margin-bottom: spacing(xl); }
.u-marginBottom-l { margin-bottom: spacing(l); }
.u-marginBottom-m { margin-bottom: spacing(m); }
.u-marginBottom-s { margin-bottom: spacing(s); }
// left margin scale
.u-marginLeft-xl { margin-left: spacing(xl); }
.u-marginLeft-l { margin-left: spacing(l); }
.u-marginLeft-m { margin-left: spacing(m); }
.u-marginLeft-s { margin-left: spacing(s); }
// right margin scale
.u-marginRight-xl { margin-right: spacing(xl); }
.u-marginRight-l { margin-right: spacing(l); }
.u-marginRight-m { margin-right: spacing(m); }
.u-marginRight-s { margin-right: spacing(s); }
