// paddding scale
.u-padding-xl { padding: spacing(xl); }
.u-padding-l { padding: spacing(l); }
.u-padding-m { padding: spacing(m); }
.u-padding-s { padding: spacing(s); }
// top padding scale
.u-paddingTop-xl { padding-top: spacing(xl); }
.u-paddingTop-l { padding-top: spacing(l); }
.u-paddingTop-m { padding-top: spacing(m); }
.u-paddingTop-s { padding-top: spacing(s); }
// bottom padding scale
.u-paddingBottom-xl { padding-bottom: spacing(xl); }
.u-paddingBottom-l { padding-bottom: spacing(l); }
.u-paddingBottom-m { padding-bottom: spacing(m); }
.u-paddingBottom-s { padding-bottom: spacing(s); }
// left padding scale
.u-paddingLeft-xl { padding-left: spacing(xl); }
.u-paddingLeft-l { padding-left: spacing(l); }
.u-paddingLeft-m { padding-left: spacing(m); }
.u-paddingLeft-s { padding-left: spacing(s); }
// right padding scale
.u-paddingRight-xl { padding-right: spacing(xl); }
.u-paddingRight-l { padding-right: spacing(l); }
.u-paddingRight-m { padding-right: spacing(m); }
.u-paddingRight-s { padding-right: spacing(s); }
// verticle padding scale
.u-paddingVertical-xl { padding-top: spacing(xl); padding-bottom: spacing(xl); }
.u-paddingVertical-l { padding-top: spacing(l); padding-bottom: spacing(l); }
.u-paddingVertical-m { padding-top: spacing(m); padding-bottom: spacing(m); }
.u-paddingVertical-s { padding-top: spacing(s); padding-bottom: spacing(s); }
// horizontal padding scal
.u-paddingHorizontal-xl { padding-left: spacing(xl); padding-right: spacing(xl); }
.u-paddingHorizontal-l { padding-left: spacing(l); padding-right: spacing(l); }
.u-paddingHorizontal-m { padding-left: spacing(m); padding-right: spacing(m); }
.u-paddingHorizontal-s { padding-left: spacing(s); padding-right: spacing(s); }
