// letter spacing
.type-tracked { letter-spacing: .1em; }
.type-tracked-tight { letter-spacing: -.05em; }
.type-tracked-mega { letter-spacing: .25em; }

// paragraph measure
.type-measure-wide { max-width: 34; }
.type-measure { max-width: 30em }
.type-measure-narrow { max-width: 20em; }

// type scale
.type-s-1 { font-size: 3rem; }
.type-h-1 { line-height: 3.5rem; }
.type-s-2 { font-size: 2.5rem; }
.type-h-2 { line-height: 3rem; }
.type-s-3 { font-size: 2rem; }
.type-h-3 { line-height: 2.5rem; }
.type-s-4 { font-size: 1.5rem; }
.type-h-4 { line-height: 2rem; }
.type-s-5 { font-size: 1rem; }
.type-h-5 { line-height: 1.5rem; }
.type-s-6 { font-size: .75rem; }
.type-h-6 { line-height: 1rem; }
.type-s-7 { font-size: .5rem; }
.type-h-7 { line-height: .75rem; }


.type-italic { font-style: italic; }
.type-reg { font-weight: 400; }
.type-med { font-weight: 500; }
.type-bold { font-weight: 700; }
.type-black { font-weight: 900; }
