@import "../settings";

.bg-blackish {
  background-color: color(blackish);
}

.bg-pinkish {
  background-color: color(pinkish);
}

.bg-blueish {
  background-color: color(blueish);
}

.bg-greenish {
  background-color: color(greenish);
}

.bg-grayish {
  background-color: color(grayish);
}

.color-blackish {
  color: color(blackish);
}

.color-whitish {
  color: color(whitish);
}

.color-blueish {
  color: color(blueish);
}