.md {
  padding: 2.5rem;
}

.md h1 {
  font-size: 2.25rem; }

.md h2 {
  font-size: 1.5rem; }

.md h3 {
  font-size: 1.25rem; }

.md h4 {
  font-size: 1rem; }

.md h5 {
  font-size: 0.875rem; }

.md h6 {
  font-size: 0.875rem; }

.md p {
  font-size: 0.875rem; }
