#dash-container {
  @include fixed-full;
  color: white;
  @include bg-copper-gradient;
  will-change: opacity;
  display: flex;
  filter: none !important;
}

.dash-column-small {
  @include sidebar;
  will-change: transform;
  padding-top: 4rem;
}

.dash-accountGlance{
  background-color: $darkGrey;
  @include radius-card;
  padding: 1.5rem 1.2rem 1.2rem 1.2rem;
}

.dash-column-large {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
  @include padding-m;
  padding-top: 4rem;
  will-change: transform;
}

.dash-tile {
  @include shadow-l;
  @include radius-tile;
  padding: $d-2;
  margin-bottom: $d-2;
  background-color: $darkGrey;
  min-height: 600px;
}

.dash-heading{
  @include flex-between;
  margin-bottom: $d-1;

}

.dash-stats-hud {
  @include radius-card;
  margin-bottom: $d-1;
  padding: $d-2;
  width: 100%;
  min-height: 100px;
  background-color: black;
  display: flex;
}

.statDatum-wrapper {
  display: flex;
  align-items: baseline;
  margin-right: 2rem;
}

.statDatum-value {
  font-size: $t-4;
  display: flex;
}

.statDatum-unit {
  opacity: 0.5;
  display: flex;
  font-size: $t-3;
  margin-left: 0.25rem;
}

.stat-module {
 display: flex;
 margin-right: 2rem;
}

.dash-stats-d3{
  position: relative;
}

.dash-stats-rangeControl{

}

.dash-stats-rangeControl button {
  @include pill;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  margin-left: 0.25rem;
  background-color: transparent;
  color: white;
  transition: 250ms background-color;
}

.dash-stats-rangeControl button:hover {
  background-color: #111111;
}

.dash-stats-rangeControl button.selected {
  background-color: black;
}

.dash-linegraph-container{
  margin-top: 1em;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: 1px solid $mediumGrey;
  border-bottom: 1px solid $mediumGrey;
}


.dash-closed {
  z-index: -999;
  opacity: 0;
  transition: opacity $dash-transform-time ease, z-index $dash-transform-time step-end;
}

.dash-open {
  z-index: 999;
  opacity: 1;
  transition: opacity $dash-transform-time ease, z-index $dash-transform-time step-start;
}


.dash-closed .dash-column-large {
  transform: translate3d($dash-transform-delta,0px,0px);
  transition: transform 400ms;
}

.dash-open .dash-column-large {
  transform: translate3d(0px,0px,0px);
  transition: transform 400ms ease;
}

.dash-closed .dash-column-small {
  transform: translate3d(-$dash-transform-delta,0px,0px);
  transition: transform 400ms;
}

.dash-open .dash-column-small {
  transform: translate3d(0px,0px,0px);
  transition: transform 400ms ease;
}
