#dash-container {
  @include fixed-full;
  color: white;
  @include bg-copper-gradient;
  will-change: opacity;
  display: flex;
}

.button-closeDash {
  position: absolute;
  right: $d-2;
  top: $d-1;
  width: 2rem;
  height: 2rem;
  @include pill;
  background-color: transparent;
  color: white;
}

.dash-column-small {
  @include sidebar;
  will-change: transform;
}

.dash-column-large {
  height: 100vh;
  flex: 1;
  overflow-y: scroll;
  @include padding-m;
  padding-top: 4rem;
  will-change: transform;
}

.dash-tile {
  @include shadow-l;
  @include radius-tile;
  padding: $d-2;
  margin-bottom: $d-2;
  background-color: $darkGrey;
  min-height: 600px;
}

.dash-stats-hud {
  @include radius-card;
  margin-top: $d-2;
  padding: $d-2;
  width: 100%;
  min-height: 100px;
  background-color: black;
}

.dash-stats-d3{
  margin-top: $d-2;
  position: relative;
}

.dash-stats-rangeControl{
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
  position: relative;
  right: 0;
  margin-bottom: 0.5rem;
}

.dash-stats-rangeControl button {
  @include pill;
  padding: 0.25rem 0.75rem 0.25rem 0.75rem;
  margin-left: 0.25rem;
  background-color: transparent;
  color: white;
  transition: 250ms background-color;
}

.dash-stats-rangeControl button:hover {
  background-color: #111111;
}

.dash-stats-rangeControl button.selected {
  background-color: black;
}

.dash-linegraph-container{
  margin-top: 1em;
  padding-left: 2rem;
  padding-right: 2rem;
  border-top: 1px solid $silver;
  border-bottom: 1px solid $silver;
}

.dash-closed {
  z-index: -999;
  opacity: 0;
  transition: opacity 400ms ease, z-index 300ms step-end;
}

.dash-open {
  z-index: 999;
  opacity: 1;
  transition: opacity 400ms ease, z-index 300ms step-start;
}

.dash-closed .dash-column-large {
  transform: translateX(100px);
  transition: transform 400ms;
}

.dash-open .dash-column-large {
  transform: translateX(0px);
  transition: transform 400ms ease;
}

.dash-closed .dash-column-small {
  transform: translateX(-100px);
  transition: transform 400ms;
}

.dash-open .dash-column-small {
  transform: translateX(0px);
  transition: transform 400ms ease;
}
