// Breakpoints
@mixin for-phone-only {
  @media (max-width: 736px) { @content; }
}

@mixin for-tablet-down {
  @media (max-width: 1024px) { @content; }
}

// padding, margin
@mixin l-horizontal-padding{
  padding-left: $d-3;
  padding-right: $d-3;
}

@mixin padding-s {
  padding: $sub-1 $d-1 $sub-1 $d-1;
}

@mixin padding-m {
  padding: $d-1 $d-2 $d-1 $d-2;
}

@mixin padding-interface {
  padding: 0.5rem 0.75rem 0.5rem 0.75rem;
}

@mixin no-margin-padding {
  margin:0;
  padding:0;
}

// structural
@mixin fixed-full {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  display: block;
}

// flexbox
@mixin flex-align-center {
  display: flex;
  align-items: center;
}

@mixin flex-all-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
}

// shadow
@mixin shadow-s {
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

@mixin shadow-l {
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

@mixin shadow-xl {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
}

@mixin inner-shadow {
  box-shadow: inset 0px 4px 10px 0px rgba(0, 0, 0, 0.20);
}

// border radius
@mixin pill {
  border-radius: 999px;
}

@mixin pill-r {
  border-radius: 0px 999px 999px 0px;
}

@mixin pill-l {
  border-radius: 999px 0px 0px 999px;
}

@mixin radius-card {
  border-radius: 20px;
}

@mixin radius-tile {
  border-radius: 25px;
}

// color application
@mixin all-blue-bg {
  background-color: $pendingBlue;
  border-color: $pendingBlue;
  fill: $pendingBlue;
}

@mixin all-green-bg {
  background-color: $activeGreen;
  border-color: $activeGreen;
  fill: $activeGreen;
}

@mixin all-gray-bg {
  background-color: $darkestGrey;
  border-color: $darkestGrey;
  fill: $darkestGrey;
}

@mixin all-white-bg {
  background-color: $white;
  border-color: $white;
  fill: $white;
}

@mixin all-pink-bg {
  background-color: $pink;
  border-color: $pink;
  fill: $pink;
}

@mixin bg-copper-gradient {
  background-color: $brassT;
  background: -moz-linear-gradient(top, $brassT 0%,rgba($brassR, .7) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $brassT 0%,rgba($brassR, .7) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $brassT 0%,rgba($brassR, .7) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin bg-glass-gradient {
  background-color: rgba(51,51,51,1);
  // background: -moz-linear-gradient(left, rgba(0,0,0,0.7) 20%, rgba(0,0,0,0.4) 100%); /* FF3.6-15 */
  // background: -webkit-linear-gradient(left, rgba(0,0,0,0.7) 20%,rgba(0,0,0,0.4) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, rgba(0,0,0,0.7) 20%,rgba(0,0,0,0.4) 50%, rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  background-repeat: no-repeat;
  background-size: 200% 100%;
}

@mixin dim {
  opacity: .6;
}

// debug
@mixin debug {
  background-color: red;
  border: 1px solid white;
  opacity: 0.2;
}

// component-level
$sidebarWidth: 23rem;
@mixin sidebar {
  display: block;
  width: $sidebarWidth;
  padding: $d-1;
  height: 100vh;
  color: white;
  z-index: 800;
  padding-top: 0;
  overflow: none;
}

$short-hover-time: 200ms;

@mixin pill-glass {
  @include bg-glass-gradient;
  @include pill;
  @include shadow-l;
  background-color: transparent;
  color: $lightGrey;
  border-top: 1px solid lighten(rgba(50,50,50,0.5), 25);
  border-bottom: 1px solid darken(rgba(0,0,0,0.9), 15);
  transition: background-color $short-hover-time;
  background-position: left;
}

@mixin hover-glass {
  transition: border 200ms, background-position 200ms, background-color $short-hover-time !important;
  &:hover {
    // text-shadow: 0 0 10px rgba(255,255,255,0.7);
    background-position: right;
    color: white;
  }
}
