// spacing scale
$d-1: 1rem;
$d-2: 2rem;
$d-3: 3rem;
$d-4: 5rem;
$d-5: 8rem;
$d-6: 13rem;
$d-7: 24rem;

// for small components
$sub-1: 0.100rem;
$sub-2: 0.200rem;
$sub-3: 0.300rem;
$sub-4: 0.500rem;
$sub-5: 0.800rem;

$fixed-height-small: 2.25rem;
$fixed-height-medium: 2.25rem;
$fixed-height-large: 2.25rem;


// colors
$black:               black;
$white:               white;
$lossRed:             #EB5757;
$activeGreen:         #27AE60;
$activeGreen_dark:    darken($activeGreen, 10%);
$pendingBlue:         #2F80ED;
$pendingBlue_dark:    darken($pendingBlue, 10%);
$pink:                #F48068;
$pink_Dark:           darken($pink, 10%);
$transparent_light:   rgba($white, .1);
$darkGrey:            #242424;
$mediumGrey:          #828282;
$silver:              #BDBDBD;
$brassL:              #895C51;
$brassR:              #7D4D40;
$brassT:              #D89583;

$dash-transform-delta: 20px;
$dash-transform-time: 250ms;
