@import "settings";

.u-shadow-s, .u-shadow-s\@hover:hover { box-shadow: 0.2rem 0.2rem 0.4rem color(blackish, $alpha: 0.2); }
.u-shadow-m, .u-shadow-m\@hover:hover { box-shadow: 0.0rem 0.4rem 1.5rem color(blackish, $alpha: 0.25); }
.u-shadow-l, .u-shadow-l\@hover:hover { box-shadow: 0.0rem 0.4rem 2.5rem color(blackish, $alpha: 0.25); }

.u-br-pill { border-radius: 99rem; }
.u-borderRadius-m { border-radius: 2rem; }

.u-bg-blackish { background-color: color(blackish); }
.u-bg-pinkish { background-color: color(pinkish); }
.u-bg-blueish { background-color: color(blueish); }
.u-bg-greenish { background-color: color(greenish); }
.u-bg-grayish { background-color: color(grayish); }

.u-c-blackish, .u-c-blackish\@hover:hover { color: color(blackish); }
.u-c-whitish, .u-c-whitish\@hover:hover { color: color(whitish); }
.u-c-whitishDim, .u-c-whitishDim\@hover:hover { color: color(whitish, $alpha: 0.6); }
.u-c-blueish, .u-c-blueish\@hover:hover { color: color(blueish); }

// border scale
.u-bdr-pill {
  border-radius: 999rem;
}


.u-dib {
  display: inline-block;
}

// paddding scale
.u-p-1 { padding: 3rem; }
.u-p-2 { padding: 2.5rem; }
.u-p-3 { padding: 2rem; }
.u-p-4 { padding: 1.5rem; }
.u-p-5 { padding: 1rem; }
.u-p-6 { padding: .75rem; }
.u-p-7 { padding: .5rem; }

// top padding scale
.u-p-t-1 { padding-top: 3rem; }
.u-p-t-2 { padding-top: 2.5rem; }
.u-p-t-3 { padding-top: 2rem; }
.u-p-t-4 { padding-top: 1.5rem; }
.u-p-t-5 { padding-top: 1rem; }
.u-p-t-6 { padding-top: .75rem; }
.u-p-t-7 { padding-top: .5rem; }

// bottom padding scale
.u-p-b-1 { padding-bottom: 3rem; }
.u-p-b-2 { padding-bottom: 2.5rem; }
.u-p-b-3 { padding-bottom: 2rem; }
.u-p-b-4 { padding-bottom: 1.5rem; }
.u-p-b-5 { padding-bottom: 1rem; }
.u-p-b-6 { padding-bottom: .75rem; }
.u-p-b-7 { padding-bottom: .5rem; }

// left padding scale
.u-p-l-1 { padding-left: 3rem; }
.u-p-l-2 { padding-left: 2.5rem; }
.u-p-l-3 { padding-left: 2rem; }
.u-p-l-4 { padding-left: 1.5rem; }
.u-p-l-5 { padding-left: 1rem; }
.u-p-l-6 { padding-left: .75rem; }
.u-p-l-7 { padding-left: .5rem; }


// right padding scale
.u-p-r-1 { padding-right: 3rem; }
.u-p-r-2 { padding-right: 2.5rem; }
.u-p-r-3 { padding-right: 2rem; }
.u-p-r-4 { padding-right: 1.5rem; }
.u-p-r-5 { padding-right: 1rem; }
.u-p-r-4 { padding-right: 1.5rem; }
.u-p-r-6 { padding-right: .75rem; }
.u-p-r-7 { padding-right: .5rem; }

// verticle padding scale
.u-p-v-1 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.u-p-v-2 {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

.u-p-v-3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.u-p-v-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.u-p-v-5 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.u-p-v-6 {
  padding-top: .75rem;
  padding-bottom: .75rem;
}
.u-p-v-7 {
  padding-top: .5rem;
  padding-bottom: .5rem;
}


// horizontal padding scal
.u-p-h-1 {
  padding-left: 3rem;
  padding-right: 3rem;
}
.u-p-h-2 {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

.u-p-h-3 {
  padding-left: 2rem;
  padding-right: 2rem;
}

.u-p-h-4 {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.u-p-h-5 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.u-p-h-6 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.u-p-h-7 {
  padding-left: .5rem;
  padding-right: .5rem;
}

// margin scale
.u-m-1 { margin: 3rem; }
.u-m-2 { margin: 2.5rem; }
.u-m-3 { margin: 2rem; }
.u-m-4 { margin: 1.5rem; }
.u-m-5 { margin: 1rem; }
.u-m-6 { margin: .75rem; }
.u-m-7 { margin: .5rem; }

// top margin scale
.u-m-t-1 { margin-top: 3rem; }
.u-m-t-2 { margin-top: 2.5rem; }
.u-m-t-3 { margin-top: 2rem; }
.u-m-t-4 { margin-top: 1.5rem; }
.u-m-t-5 { margin-top: 1rem; }
.u-m-t-6 { margin-top: .75rem; }
.u-m-t-7 { margin-top: .5rem; }

// bottom margin scale
.u-m-b-1 { margin-bottom: 3rem; }
.u-m-b-2 { margin-bottom: 2.5rem; }
.u-m-b-3 { margin-bottom: 2rem; }
.u-m-b-4 { margin-bottom: 1.5rem; }
.u-m-b-5 { margin-bottom: 1rem; }
.u-m-b-6 { margin-bottom: .75rem; }
.u-m-b-7 { margin-bottom: .5rem; }

// left margin scale
.u-m-l-1 { margin-left: 3rem; }
.u-m-l-2 { margin-left: 2.5rem; }
.u-m-l-3 { margin-left: 2rem; }
.u-m-l-4 { margin-left: 1.5rem; }
.u-m-l-5 { margin-left: 1rem; }
.u-m-l-6 { margin-left: .75rem; }
.u-m-l-7 { margin-left: .5rem; }

// right margin scale
.u-m-r-1 { margin-right: 3rem; }
.u-m-r-2 { margin-right: 2.5rem; }
.u-m-r-3 { margin-right: 2rem; }
.u-m-r-4 { margin-right: 1.5rem; }
.u-m-r-5 { margin-right: 1rem; }
.u-m-r-6 { margin-right: .75rem; }
.u-m-r-7 { margin-right: .5rem; }

// allignment settings
.u-align-t { vertical-align: top; }
.u-align-b { vertical-align: bottom; }
.u-align-l { vertical-align: left; }
.u-align-r { vertical-align: right; }
