@import "settings";

@import "utils/borders";
@import "utils/typography";
@import "utils/colors";
@import "utils/margin";
@import "utils/padding";

.u-shadow-s { box-shadow: 0.2rem 0.2rem 0.4rem color(blackish, $alpha: 0.2); }
.u-shadow-m { box-shadow: 0.0rem 0.4rem 1.5rem color(blackish, $alpha: 0.25); }
.u-shadow-l { box-shadow: 0.0rem 0.4rem 2.5rem color(blackish, $alpha: 0.25); }
.u-shadow-s\:hover:hover { box-shadow: 0.2rem 0.2rem 0.4rem color(blackish, $alpha: 0.2); }
.u-shadow-m\:hover:hover { box-shadow: 0.0rem 0.4rem 1.5rem color(blackish, $alpha: 0.25); }
.u-shadow-l\:hover:hover { box-shadow: 0.0rem 0.4rem 2.5rem color(blackish, $alpha: 0.25); }
.u-shadow-s\:active:active { box-shadow: 0.2rem 0.2rem 0.4rem color(blackish, $alpha: 0.2); }
.u-shadow-m\:active:active { box-shadow: 0.0rem 0.4rem 1.5rem color(blackish, $alpha: 0.25); }
.u-shadow-l\:active:active { box-shadow: 0.0rem 0.4rem 2.5rem color(blackish, $alpha: 0.25); }

.u-dib { display: inline-block; }
.u-width-50 { width: 50% }
.u-width-40 { width: 40%; }
.u-width-35 { width: 35% }
.u-width-30 { width: 30% }
.u-width-25 { width: 25% }
.u-width-20 { width: 20% }
.u-width-10 { width: 10% }

// allignment settings
.u-align-t { vertical-align: top; }
.u-align-b { vertical-align: bottom; }
.u-align-l { vertical-align: left; }
.u-align-r { vertical-align: right; }

