@import "settings";


//# ===BORDER===

.u-borderRadius-l { border-radius: 2rem; }
.u-borderRadius-m { border-radius: 1.5rem; }
.u-border-pill { border-radius: 999rem; }


//# ===SHADOWS===

.u-shadow-border { box-shadow: inset 0 0 0 0.1rem currentColor; }
@include utils(shadow, (box-shadow), $shadow, (hover, active));


//# ===DISPLAY===

.u-display-inlineFlex { display: inline-flex; }
.u-display-inlineBlock { display: inline-block; }


//# ===ALIGNMENT===

.u-verticalAlign-top { vertical-align: top; }
.u-verticalAlign-bottom { vertical-align: bottom; }
.u-textAlign-left { text-align: left; }
.u-textAlign-right { text-align: right; }
.u-textAlign-center { text-align: right; }


//# ===COLORS===

.u-background-gradientDark { background: linear-gradient(hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 50%, 0.5)); }
.u-background-gradientBlueish { background: linear-gradient(color(blueish), hsla(0, 0%, 50%, 0.5)); }
.u-background-gradientPinkish { background: linear-gradient(color(pinkish), hsla(0, 0%, 50%, 0.5)); }
.u-background-gradientGreenish { background: linear-gradient(color(greenish), hsla(0, 0%, 50%, 0.5)); }

@include utils(backgroundColor, (background-color), $color);
@include utils(color, (color), $color, (hover));


//# ===TYPOGRAPHY===

.u-fontSize-xxl { font-size: 2.4rem; }
.u-fontSize-xl { font-size: 2.4rem; }
.u-fontSize-l { font-size: 2rem; }
.u-fontSize-m { font-size: 1.6rem; } // default size
.u-fontSize-s { font-size: 1rem; }

.u-lineHeight-s { line-height: 1; } // default height
.u-lineHeight-m { line-height: 1.2; } // = 100% in sigma
.u-lineHeight-l { line-height: 1.4375; } // ~ 120% in sigma

.u-fontStyle-italic { font-style: italic; }

.u-fontWeight-regular { font-weight: 400; } // default
.u-fontWeight-medium { font-weight: 500; }
.u-fontWeight-bold { font-weight: 700; }
.u-fontWeight-black { font-weight: 900; }

.u-sup {
  font-size: 70%;
  top: -0.3em;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}


// # ===MARGIN===

@include utils(margin, (margin), $spacing);
@include utils(marginLeft, (margin-left), $spacing);
@include utils(marginRight, (margin-right), $spacing);
@include utils(marginTop, (margin-top), $spacing);
@include utils(marginBottom, (margin-bottom), $spacing);

// # ===PADDING===


@include utils(padding, (padding), $spacing);
@include utils(paddingLeft, (padding-left), $spacing);
@include utils(paddingRight, (padding-right), $spacing);
@include utils(paddingTop, (padding-top), $spacing);
@include utils(paddingBottom, (padding-bottom), $spacing);
@include utils(paddingVertical, (padding-top, padding-bottom), $spacing);
@include utils(paddingHorizontal, (padding-left, padding-right), $spacing);